---
Language:        Cpp
BasedOnStyle: Google

# Alignment of consecutive lines
AlignConsecutiveAssignments: true
AlignConsecutiveBitFields: true
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: true
AlignOperands: AlignAfterOperator

AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: Always

AlwaysBreakTemplateDeclarations: No
BreakBeforeBraces: Linux
BreakBeforeTernaryOperators: false
BreakConstructorInitializers: AfterColon
ColumnLimit: 100
CompactNamespaces: true
DerivePointerAlignment: false
DisableFormat: false  # Disable formatting completely
FixNamespaceComments: true
ForEachMacros: ['foreach']
IndentCaseBlocks: true
IndentWidth:     4
IndentWrappedFunctionNames: true
MaxEmptyLinesToKeep: 2

# Penalties for breaking various rules (defines which rules are more important)
PenaltyBreakAssignment: 2
PenaltyBreakBeforeFirstCallParameter: 1
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 120
PenaltyBreakString: 1000
PenaltyBreakTemplateDeclaration: 10
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 200

SpaceAfterTemplateKeyword: false

StatementMacros:
  - Q_UNUSED
  - QT_REQUIRE_VERSION
TabWidth:        4
WhitespaceSensitiveMacros: ['STRINGIZE', 'PP_STRINGIZE']
