Documentation/*.pdf
Documentation/*/build/*
Documentation/*/*/build/*
!Documentation/*/build/*.pdf
!Documentation/*/*/build/*.pdf
!Documentation/*/build/*.bbl
!Documentation/*/*/build/*.bbl
Documentation/misc-notes

.cache
compile_commands.json

# Vim swapfiles
*.swp

# Files from other branches
build/*
tags
